<template>
    <div>
        <div class="font-sans text-center pb-10 pt-10 text-2xl">Here Will be a text</div>
        <div class="grid grid-flow-col place-content-center gap-20  ">
      <div class="flex flex-col gap-5">
        <div class="circleShadow3 rounded-full w-44 h-44 border grid place-content-center bg-white place-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M36.5 25.5V22.5H44V25.5ZM39 40 32.95 35.5 34.75 33.1 40.8 37.6ZM34.9 14.85 33.1 12.45 39 8 40.8 10.4ZM10.5 38V30H7Q5.75 30 4.875 29.125Q4 28.25 4 27V21Q4 19.75 4.875 18.875Q5.75 18 7 18H16L26 12V36L16 30H13.5V38ZM28 30.7V17.3Q29.35 18.5 30.175 20.225Q31 21.95 31 24Q31 26.05 30.175 27.775Q29.35 29.5 28 30.7Z"/></svg>
        </div>
        <div class="text-center text-xl">Text-1</div>
        <div  class="mt-4">
            <button class="w-48 h-10 text-white  rounded-full bg-purpleText">Button 1</button>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <div class="circleShadow3 rounded-full w-44 h-44 border grid place-content-center bg-white place-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M36.5 25.5V22.5H44V25.5ZM39 40 32.95 35.5 34.75 33.1 40.8 37.6ZM34.9 14.85 33.1 12.45 39 8 40.8 10.4ZM10.5 38V30H7Q5.75 30 4.875 29.125Q4 28.25 4 27V21Q4 19.75 4.875 18.875Q5.75 18 7 18H16L26 12V36L16 30H13.5V38ZM28 30.7V17.3Q29.35 18.5 30.175 20.225Q31 21.95 31 24Q31 26.05 30.175 27.775Q29.35 29.5 28 30.7Z"/></svg>
        </div>
        <div class="text-center text-xl">Text-1</div>
        <div  class="mt-4">
            <button class="w-48 h-10 text-white  rounded-full bg-purpleText">Button 1</button>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <div class="circleShadow3 rounded-full w-44 h-44 border grid place-content-center bg-white place-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M36.5 25.5V22.5H44V25.5ZM39 40 32.95 35.5 34.75 33.1 40.8 37.6ZM34.9 14.85 33.1 12.45 39 8 40.8 10.4ZM10.5 38V30H7Q5.75 30 4.875 29.125Q4 28.25 4 27V21Q4 19.75 4.875 18.875Q5.75 18 7 18H16L26 12V36L16 30H13.5V38ZM28 30.7V17.3Q29.35 18.5 30.175 20.225Q31 21.95 31 24Q31 26.05 30.175 27.775Q29.35 29.5 28 30.7Z"/></svg>
        </div>
        <div class="text-center text-xl">Text-1</div>
        <div class="mt-4">
            <button class="w-48 h-10 text-white  rounded-full bg-purpleText">Button 1</button>
        </div>
      </div>
  </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.circleShadow3{
  box-shadow: 1px 1px 1px 0px #e9e9ed;
}
</style>