@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'Sans';
      src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
    }
  }